@font-face {
    font-family: Darbots;
    src: url("public/darbots-normal.otf") format("opentype");
}
@font-face {
    font-family: Neon;
    src: url("public/neon-ballroom.otf") format("opentype");
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 5px;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: dodgerblue;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
    width: 10px;
}
body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to top, #ccc, #fff); */
    background-color: rgb(240, 240, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
#animation {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Neon;
    font-size: xx-large;
}
#contenu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    margin: 20px;
    border: solid black 1px;
    background-color: #00000022;
}
#presentation {
    position: absolute;
    margin: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#projets {
    position: absolute;
    margin: 30px;
    overflow-y: scroll;
    scroll-behavior: auto;
    scrollbar-width: 5px;
    font-family: Darbots;
}
@media screen and (min-width: 750px) {
    #presentation {
        top: 0;
        bottom: 0;
        left: 10px;
        width: 60%;
        font-size: large;
    }
    #projets {
        top: 0;
        bottom: 0;
        right: 0;
        width: 30%;
    }
    #mobile {
        font-size: medium;
        right: 35%;
    }
    #mobile a img {
        height: 40px;
    }
    .projet {
        min-height: 90px;
    }
}
@media screen and (max-width: 750px) {
    #presentation {
        right: 0;
        left: 10px;
        top: 0;
        height: 40%;
        font-size: medium;
    }
    #projets {
        right: 0;
        left: 10px;
        bottom: 0;
        height: 50%;
    }
    #mobile {
        font-size: small;
        right: 0;
    }
    #mobile a img {
        height: 30px;
    }
    h1 {
        font-size: x-large;
    }
    .projet {
        min-height: 70px;
    }
}
a {
	text-decoration: none;
}
.projet {
    color: black;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.projet:hover {
    border: solid 1px grey;
}
/* .projet:active {
    background-color: grey;
} */
.titre {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}
#social a img {
    width: 15px;
    height: 15px;
    padding: 10px;
}
#social a img:hover {
    width: 20px;
    height: 20px;
    padding: 7.5px;
}
#social {
    position: absolute;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#mobile a img {
    margin-left: 10px;
}
#mobile {
    position: absolute;
    margin: 30px;
    padding: 5px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#mode {
    position: absolute;
    margin-bottom: 30px;
    bottom: 75px;
    left: -75px;
    transform: rotate(-90deg);
    font-size: small;
}
